
<p>
  <%= text_field_tag 'settings[openai_api_key]', Setting.plugin_redmine_gpt['openai_api_key'], size: 40 %>
  <%= label_tag 'settings[openai_api_key]', l(:field_openai_api_key) %>
</p>

https://platform.openai.com/api-keys
