<!DOCTYPE html>
<html>
<head>
  <title>Chat with GPT</title>
</head>
<body>
  <div id="root"></div>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', plugin: 'redmine_gpt_react' %>
</body>
</html>

